h1{
  background-color: green;
  color: white;
}

.test{
    background-color: red;
}

p[selected]{
    background-color: blue;
    color: white;
}

.main-container{
    display: block;
    position: relative;
    width: 98%;
    height: 100px;
    margin: 0 auto;
    border: 1px solid red;
}

.sidebar{
    display: block;
    position: absolute;
    width: 15%;
    height: 100%;
    left: 0;
    background-color: green;
}

.sidebar[open='false']{
    background-color: red;
    width: 3%;
}

.menu-items{
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    text-align: center;
}

.collapsed-menu{
    color: white;
    font-size: 2em;
}
