$top-bar-height: 50px;

body{
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: white;
    // height: 100vh;
    overflow-y: hidden;

    .main-container{
        position: relative;
        width: 100%;
        height: 500px;
        margin: 0;

        .top-container{
            position: fixed;
            height: $top-bar-height;
        }

        .side-container{
            position: relative;
            top: $top-bar-height;
            float: left;
            height: 100%;

            .sidebar{
                width: 200px;
                transition-duration: .1s;
            }

            .sidebar[open='false']{
                width: 40px;
            }
        }

        .content-container{
            position: relative;
            top: $top-bar-height;
            height: 100%;
            float: left;
            padding: 20px;
            box-sizing: border-box;
            overflow-y: auto;
            width: calc(100% - 200px);
        }
        .content-container[expand='true']{
            width: calc(100% - 40px);
        }
    }
}
