.sidebar{
    height: 100%;
    background-color: rgba(0,0,0,.8);

    .toggle-icon-container{
        display: block;
        margin-bottom: 20px;

        .toggle-icon{
            float: right;
            padding-right: 7px;
        }

        // clear float
        &:after{
            content: '';
            display: block;
            clear: both;
        }
    }

    .menu-items{
        display: block;
        color: #fff;
        text-decoration: none;
        text-transform: capitalize;
        padding: 10px 0;
        padding-left: 25px;
        transition-duration: .2s;

        .menu-items-icons{
            font-size: 1.4em;
        }

        .menu-items-link{
            position: absolute;
            left: 65px;
            line-height: 1.4;
            color: #fff;
            text-decoration: none;
            font-size: 18px;
        }

        &:nth-of-type(1n+2){
            border-top: 1px solid lightgrey;
        }

        &:hover{
            cursor: pointer;
            background-color: #f00;
        }
    }

    .collapsed-menu{
        color: white;
        font-size: 2em;
        transition-duration: .2s;

        &:hover{
            cursor: pointer;
            color: orange;
        }
    }
}
